[Unit]
Description=Simple Cloud Encryption Service

[Service]
ExecStart=$ScriptPath
Environment=PYTHONUNBUFFERED=1
Type=notify

[Install]
WantedBy=default.target